.blue {
  background-color: #1678C2;
  color: white
}
.white {
  background-color: white;
}
.day{
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  width: 100%;
}
